.link {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-text-dim);
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color var(--transition-base);
}

.link:hover:not(:disabled) {
  color: var(--color-text);
}

.link:disabled {
  color: var(--color-text-disabled);
  cursor: not-allowed;
  text-decoration: none;
}
